@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
body{
    width: 80%;
    height: 100px;
    background-image: url("./images/pattern-background-desktop.svg");
    background-color: hsl(225, 100%, 94%);
    background-repeat: repeat-x;
    font-size: 1rem;
    font-weight: 550;
}

p {
    padding: 0.5rem 2.4rem;
    color: #808080;
    line-height: 28px;
    font-size: 12px;
}
.card{
    font-family: 'Red Hat Display', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid black 2px;
    width: 370px;
    height: 600px;
    border-radius: 30px;
    border: none;
    background-color: white;
    
}
.card-img{
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 30px;
}
.card_title{
    margin-top: 28px;
    text-align: center;
    color: grey;
}
.card_title h2{
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 27px;
    color: #808080;
}
.card_planSelection{
    display: flex;
    background: hsl(225, 100%, 98%);
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: space-between;
    padding: 25px;
    width: 80%;
    margin-left: 28px;
    border-radius: 15px;
}
.planContent{
    margin-left: 15px;
   flex: 1;
}
.planContent .planCost{
    color: #808080;
}
.change{
    margin-top: 8px;
    color:  hsl(245, 75%, 52%);
    font-weight: 700;
    cursor:pointer;
}
.change:hover{
    color: #766bea;
    text-decoration:none;
}
.card_planSelection img{
 width: 45px;
}
.card_paymentButton{
    padding: 15px;
    width: 80%;
    margin-left: 30px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-weight: 600;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-bottom: 15px;
    cursor: pointer;
}
.card_paymentButton:hover{
    background-color: #766bea;
    cursor: pointer;
}
.card_cancel{
    width: 80%;
    margin-left: 130px;
    color: grey;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.card_cancel:hover{
    color:hsl(223, 47%, 23%);
    text-decoration: none;
}

/*Media Queries*/
@media( min-width: 700px)
{
    .card_PaymentButton {
        padding: 0.3rem 3rem;
        font-size: 0.7rem;
    }
}
@media only screen and (max-width: 768px) {
    .whole {
        padding: 1rem;
    }
@media only screen and (max-width: 768px) {
    body {
        background-image: url("./images/pattern-background-mobile.svg");
    }
}
